<h1><b>FINAL PROJECT UJIAN AKHIR SEMESTER GENAP</b></h1>

<h2><b>Big Data And Predictive Analytics</b></h2>

<h5>Anggota Kelompok :</h5>
<ol>
    <li><p>Haikal Raditya Fadhilah</p></li>
    <li><p>Wulan Kristiyanti</p></li>
    <li><p>Gilang Ramadhani</p></li>
</ol>

<h2><b>IMPORT LIBRARY</b></h2>

In [96]:
import pandas as pd
from matplotlib import pyplot as plt
import scipy as stats

<h2><b>IMPORT DATASET</b></h2>

In [97]:
df = pd.read_csv('./DATASET/weatherAUS.csv')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

<h3><b>MEMPERSIAPKAN DATA</b></h3>
<p>1) Melihat Jumlah Baris Dan Column Dataset</p>

In [98]:
df.shape

(145460, 23)

<p>2) Melihat tipe data tiap kolom dari dataset</p>

In [99]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

<p>3) Melihat data kolom apakah ada yang terdapat data kosong (NA) dan menghitung serta membersihkan data NULL</p>

In [100]:
df.isna()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,True,True,False,False,False,False
2,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,True,True,False,False,False,False
4,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,True,True,False,False,False,False
145456,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,True,True,False,False,False,False
145457,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,True,True,False,False,False,False
145458,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
145459,False,False,False,True,False,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,True

In [101]:
df.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [103]:
df.dropna(inplace=True)
df.reset_index(inplace=True)
df.drop(columns='level_0',inplace=True)
df

,index,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
1,6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
2,6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
3,6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
4,6054,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56415,142298,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,No
56416,142299,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,No
56417,142300,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,No
56418,142301,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,No
56419,142302,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,No

In [ ]:
df.isna().sum()

index            0
Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

<h3><b>EDA (Exploratory Data Analytics)</b></h3>
<p><b>1.Print DataFrame</b></p>

In [ ]:
df

,index,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
1,6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
2,6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
3,6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
4,6054,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56415,142298,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,No
56416,142299,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,No
56417,142300,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,No
56418,142301,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,No
56419,142302,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,No

<p><b>2.Melihat 10 Data Teratas</b></p>

In [ ]:
df.head(10)

,index,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
1,6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
2,6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
3,6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
4,6054,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No
5,6055,2009-01-07,Cobar,27.1,36.1,0.0,13.0,0.0,N,43.0,...,26.0,19.0,1007.7,1007.4,8.0,8.0,30.7,34.3,No,No
6,6056,2009-01-08,Cobar,23.3,34.0,0.0,9.8,12.6,SSW,41.0,...,33.0,15.0,1011.3,1009.9,3.0,1.0,25.0,31.5,No,No
7,6057,2009-01-09,Cobar,16.1,34.2,0.0,14.6,13.2,SE,37.0,...,25.0,9.0,1013.3,1009.2,1.0,1.0,20.7,32.8,No,No
8,6058,2009-01-10,Cobar,19.0,35.5,0.0,12.0,12.3,ENE,48.0,...,46.0,28.0,1008.3,1004.0,1.0,5.0,23.4,33.3,No,No
9,6059,2009-01-11,Cobar,19.7,35.5,0.0,11.0,12.7,NE,41.0,...,61.0,14.0,1007.9,1005.8,1.0,5.0,24.0,33.6,No,No

<p><b>3.Melihat 10 Data Terakhir</b></p>

In [ ]:
df.tail(10)

,index,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
56410,142293,2017-06-15,Darwin,19.0,30.9,0.0,5.0,10.8,E,41.0,...,43.0,27.0,1015.8,1011.8,0.0,0.0,22.9,30.2,No,No
56411,142294,2017-06-16,Darwin,18.9,31.1,0.0,6.0,10.6,ESE,31.0,...,52.0,29.0,1014.7,1010.7,0.0,1.0,21.8,30.5,No,No
56412,142295,2017-06-17,Darwin,20.2,32.1,0.0,4.8,9.9,E,31.0,...,51.0,35.0,1014.5,1011.4,1.0,3.0,23.9,31.2,No,No
56413,142296,2017-06-18,Darwin,20.0,33.1,0.0,4.6,10.9,E,43.0,...,70.0,33.0,1014.6,1010.2,1.0,1.0,24.2,32.7,No,No
56414,142297,2017-06-19,Darwin,21.9,33.0,0.0,5.2,10.9,E,44.0,...,43.0,28.0,1014.6,1010.6,1.0,1.0,25.1,32.7,No,No
56415,142298,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,No
56416,142299,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,No
56417,142300,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,No
56418,142301,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,No
56419,142302,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,No

<p><b>3.Melihat Nama-nama Column Dari Dataset</b></p>

In [ ]:
df.columns

Index(['index', 'Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall',
       'Evaporation', 'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am',
       'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')